<mat-form-field class="form-a">
  <mat-label>Search vertex</mat-label>
  <!-- <mat-icon matSuffix>Search</mat-icon> -->
  <!-- <mat-hint>(apply every {{ DEBOUNCE_TIME / 1000 | number : '1.0' }} s)</mat-hint> -->
  <input matInput type="search" #input>
</mat-form-field>
